Flask==1.0.2
Flask-SQLAlchemy==2.4.0
Flask-Migrate==2.3.0
psycopg2==2.8.3
pytest==5.0.1
marshmallow==3.3.0
flask-jwt-extended==3.14.0
flask-cors==3.0.7
Flask-Mail==0.9.1
factory_boy==2.11.1
tqdm==2.2.3
flask-restful==0.3.7
pytest-cov==2.8.1
black==19.10b0
