<div>
  <v-item-group>
    <v-container grid-list>
      <v-layout row wrap>
        <v-flex class="flexPadding" v-for="project in projects" xs12 md6 lg4 xl3>
          <v-hover>
            <v-card slot-scope="{ hover }">
              <v-img :src="project.image" aspect-ratio="1.9"></v-img>
              <v-expand-transition>
                <div v-if="hover" class="v-card--reveal" style="height: 100%">
                  <v-img :src="hoveredImg" max-width="50%"></v-img>
                </div>
              </v-expand-transition>
            </v-card>
          </v-hover>
        </v-flex>
      </v-layout>
    </v-container>
  </v-item-group>
</div>