@import './../../main.scss';

#items {
    padding: 10px
}

#card--reveal {
    background: $blue;
    bottom: 0;
    color: $white;
    display: flex;
    justify-content: center;
    opacity: .9;
    position: absolute;
    width: 100%;
}
